[user]
	email = naveenunnikrishnan98@gmail.com
	name = Naveen Unnikrishnan
	signingkey = /home/naveen/.ssh/id_rsa.pub
[alias]
	unstage = restore --staged
	uncommit = reset --soft HEAD^
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[diff]
  tool = nvimdiff
[commit]
	gpgsign = true
[gpg]
	format = ssh
