# Source instance-specific aliases
if [ -f ~/.aliases.local ]; then
  source ~/.aliases.local
fi

# git
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gco='git checkout'
alias gb='git branch'
alias guc='git reset --soft HEAD^'  # undo the last commit
alias gr='git restore'
alias grs='git restore --staged'

# gen utilities
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias dots='cd $DOTFILES'
