# Source instance-specific zshrc
if [ -f ~/.functions.local ]; then
    source ~/.functions.local
fi

# python env
function venv() {
    if [ "$1" != "" ]
    then
        python3 -m venv $1
    else
        python3 -m venv venv
    fi
}

function activate() {
    local envName=""
    if [ "$1" != "" ]
    then
        envName=$1
    elif [[ ${history[@][1]} =~ "^venv$" ]]
    then
        envName=venv
    elif [[ ${history[@][1]} =~ "^venv .*$" ]]
    then
        envName=${${(A)=history[@][1]}[2]}
    else
        >&2 echo "Environment name is required."
        return 1
    fi
    source $envName/bin/activate
}

# Expand an alias
get_alias() {
  echo $aliases[$1]
}

# Convenience methods for creating leetcode solution files
function lcname() {
    echo ${${(s:/:)1}[4]}
}

function lcid() {
    curl -s 'https://leetcode.com/graphql/' \
        -H 'content-type: application/json' \
        -H 'cookie: csrftoken=foo' \
        -H 'referer: '"$1" \
        -H 'x-csrftoken: foo' \
        --data-raw $'{"query":" query questionTitle($titleSlug: String!) {question(titleSlug: $titleSlug) { questionFrontendId }}","variables":{"titleSlug":"'$(lcname $1)'"},"operationName":"questionTitle"}' | jq -r .data.question.questionFrontendId
}

function lc() {
    name=$(echo ${${(s:/:)1}[4]})
    num=$(lcid $1)
    ext=${2:-py}
    echo "$name-$num.$ext" | sed s/-/_/g
}

function lccopy() {
    lc $@ | xclip -selection clipboard
}

function vimlc() {
    url=$(echo $1 | grep -P -o '^(.*?/){5}' | sed 's/.$//')
    fname=$(lc $@)
    if [[ -z "$2" ]]; then
        if [[ -f "$fname" ]]; then
            vim -c ":exe \"autocmd BufWritePre *.py :Black\"" $fname
        else
            vim -c ":exe \"autocmd BufWritePre *.py :Black\" | exe \"normal i# $url\n\n\n\"" $fname
        fi
    elif [[ "$2" == "cpp" ]]; then
        if [[ -f "$fname" ]]; then
            vim $fname
        else
            vim -c ":set formatoptions-=r | exe \"normal i// $url\n\n\n\"" $fname
        fi
    else
        vim $fname
    fi
}
